*{
	padding:0;
	margin:0;
}
@font-face{
	font-family:new;
	src: url('new.ttf');
}
body{
	font-family:new;
	color:#ffffff;
}
#b{
	background:#000000;
	transform:translate(375px,180px);
	height:600px;
	width:400px;
	text-align:center;
	padding:10px;
	border-radius:20px;
	-webkit-border-radius:20px;
	-o-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
}
h2{
	display:inline-block;
	margin:10px;
	margin-top:60px;
	color:#ffffff;
	font-size:50px;
}
#output{
	padding-top:20px;
	font-family:"Courier New";
}
input{
	display:block;
	margin:50px auto;
	padding:15px;
	width:70%;
	outline:none;
	text-align:center;
	border:1px solid #ffffff;
	color:#ffffff;
	text-transform:uppercase;
	border-radius:20px;
	-webkit-border-radius:20px;
	-o-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	background-color:#000000;
}
p{
	font-family:"Courier New";
}
#submit{
	display:block;
	margin:40px auto;
	padding:10px;
	color:#ffffff;
	background-color:#000000;
	border:1px solid #ffffff;
	outline:none;
	cursor:pointer;
	font-family:"Courier New";
	border-radius:20px;
	-webkit-border-radius:20px;
	-o-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
}
#refresh{
	display:block;
	margin:-25px auto;
	padding:10px;
	color:#ffffff;
	background-color:#000000;
	border:1px solid #ffffff;
	outline:none;
	cursor:pointer;
	font-family:"Courier New";
	border-radius:20px;
	-webkit-border-radius:20px;
	-o-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
}
#submit:hover,#refresh:hover{
	color:#000000;
	background-color:#ffffff;
}